# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summerized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
3. Pandas
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|------------------|
|Juyther Notebook  |
|RStudio           |
|Apache Spark      |

### Below are a few examples of evaluating expressions in Python.
- 3*5
- (2+5)*3
- 5*3+6

In [1]:
# Multiply the two numbers inside the parentheses and then add 5 to the result.
print((3*4)+5)

17

In [2]:
# This converts 200 minutes to hours by dividing by 60
print(200/60)

3.3333333333333335

### **Objectives**
- The use of Markdowns cells
- The use of H1 to H3 formats as title for the exercises
- The use of ordered lists for listing of languages used in Data Science
- The creation of Table to represents the tools used in Data Science
- Visualizing of arithmetic expressions
- Execution of arithmetic expressions

## *The Author:* Gian-Carlo Migliastro